* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  background-color: #EFF4FF; }

a, a:link, a:visited {
  text-decoration: none;
  color: inherit; }

.main {
  padding: 30px;
  background: linear-gradient(to right, #436ADC, #3A74DC); }

.header {
  display: flex; }
  .header .logo {
    width: 25%; }
    .header .logo img {
      width: 60%;
      margin-left: 20px; }
  .header .header__right {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 0 0 0 30px;
    position: relative; }
    .header .header__right .header__name {
      display: flex; }
      .header .header__right .header__name .header__line {
        width: 5px;
        background-color: #56E86D;
        border-radius: 5px;
        height: 43px; }
      .header .header__right .header__name h4 {
        font-weight: 500;
        color: #fff;
        padding: 10px 0 10px 30px; }
    .header .header__right .header__btns {
      display: flex; }
      .header .header__right .header__btns div {
        display: flex;
        align-items: center;
        max-width: 40px;
        max-height: 30px;
        border-right: 1px solid #56E86D;
        margin-right: 20px;
        padding-right: 20px; }
        .header .header__right .header__btns div .header__btns-icons {
          display: block;
          max-width: 100%;
          cursor: pointer; }
        .header .header__right .header__btns div:last-child {
          border-right: 0;
          margin-right: 0; }
    .header .header__right .screen {
      position: absolute;
      width: 98%;
      height: 86vh;
      background-color: #fff;
      top: 120%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center; }
      .header .header__right .screen .screen__welcome, .header .header__right .screen .screen__user {
        font-size: 50px;
        color: #575A63;
        width: 70%;
        margin: 0 auto; }
      .header .header__right .screen .screen__welcome {
        font-weight: 400;
        padding-top: 50px; }
      .header .header__right .screen .screen__user {
        font-weight: 600;
        border-bottom: 4px solid #1976D2; }
      .header .header__right .screen .screen__logo {
        padding: 50px; }
        .header .header__right .screen .screen__logo img {
          width: 100%; }

.avatar .avatar__box {
  width: 25%;
  padding: 40px 0 40px 75px;
  background: url("../img/avatar.png") left center no-repeat;
  color: #fff; }
  .avatar .avatar__box .avatar__name {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .avatar .avatar__box .avatar__name h4 {
      font-weight: 600; }
    .avatar .avatar__box .avatar__name img {
      display: block;
      width: 15px;
      height: 10px;
      cursor: pointer; }
  .avatar .avatar__box p {
    margin-top: 10px;
    padding: 10px 20px 0 0;
    border-top: 1px solid rgba(55, 160, 234, 0.4);
    font-weight: 300;
    font-size: 16px; }

.menu {
  font-size: 16px;
  width: 40%; }
  .menu .menu__list {
    list-style: none;
    padding: 10px 0; }
    .menu .menu__list .menu__link {
      color: #878787;
      display: flex;
      align-items: center;
      margin-bottom: 5px;
      padding: 5px 0;
      cursor: pointer; }
      .menu .menu__list .menu__link h4 {
        font-weight: 500;
        margin-left: 10px; }
      .menu .menu__list .menu__link .menu__link1 {
        background: url("../img/home.png") center center no-repeat; }
      .menu .menu__list .menu__link .menu__link2 {
        background: url("../img/documents.png") center center no-repeat; }
      .menu .menu__list .menu__link .menu__link3 {
        background: url("../img/contacts.png") center center no-repeat; }
      .menu .menu__list .menu__link .menu__link4 {
        background: url("../img/recordings.png") center center no-repeat; }
      .menu .menu__list .menu__link .menu__link5 {
        background: url("../img/user.png") center center no-repeat; }
      .menu .menu__list .menu__link .menu__link6 {
        background: url("../img/management.png") center center no-repeat; }
      .menu .menu__list .menu__link .menu__link7 {
        background: url("../img/locations.png") center center no-repeat; }
      .menu .menu__list .menu__link:hover {
        background: #EFF4FF;
        box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, 0.35); }
        .menu .menu__list .menu__link:hover .menu__elem {
          border-color: #fff; }
      .menu .menu__list .menu__link .menu__elem {
        width: 50px;
        height: 30px;
        border-left: 3px solid #EFF4FF;
        padding-left: 20px;
        margin-left: 30px; }
    .menu .menu__list .active {
      background: linear-gradient(to right, #436ADC, #0CA6DB);
      box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, 0.35);
      color: #fff; }
      .menu .menu__list .active .menu__elem {
        border-left: 3px solid #fff;
        -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
        filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); }
      .menu .menu__list .active:hover {
        background: linear-gradient(to right, #436ADC, #0CA6DB); }
  .menu .menu__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #37A0EA;
    max-width: 60%;
    padding: 10px;
    border-radius: 15px;
    margin: 40px 0 20px 20px;
    cursor: pointer; }
    .menu .menu__btn .menu__btn-left {
      display: flex;
      align-items: center; }
      .menu .menu__btn .menu__btn-left h4 {
        color: #ffffff;
        border-left: 1px solid #fff;
        padding: 5px 15px;
        margin-left: 10px; }
    .menu .menu__btn img {
      display: block;
      max-width: 20px;
      max-height: 20px; }
    .menu .menu__btn:hover {
      box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, 0.35); }

@media screen and (max-width: 767px) {
  .avatar .avatar__box .avatar__name h4 {
    display: none; }
  .avatar .avatar__box p {
    display: none; }

  .menu .menu__list .menu__link .menu__elem {
    margin-left: 0; }

  .header .header__right .screen .screen__welcome, .header .header__right .screen .screen__user {
    font-size: 30px; } }

/*# sourceMappingURL=style.css.map */
