* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: #EFF4FF;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 16px;
}

.main {
    padding: 30px;
    background: linear-gradient(to right, #436ADC, #3A74DC);
}

.header {
    display: flex;
    
    .logo {
        width: 25%;
        
        img {
            width: 60%;
            margin-left: 20px;
        }
    }

    .header__right {
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding: 0 0 0 30px;

        position: relative;

        .header__name {
            display: flex;

            .header__line {
                width: 5px;
                background-color: #56E86D;
                border-radius: 5px;
                height: 43px;
            }

            h4 {
                font-weight: 500;
                color: #fff;
                padding: 10px 0 10px 30px;
            }
        }

        .header__btns {
            display: flex;

            div {
                display: flex;
                align-items: center;
                max-width: 40px;
                max-height: 30px;
                border-right: 1px solid #56E86D;
                margin-right: 20px;
                padding-right: 20px;

                .header__btns-icons {
                    display: block;
                    max-width: 100%;
                }

                &:last-child {
                    border-right: 0;
                    margin-right: 0;
                }
            }  
        }

        .screen {
            position: absolute;
            width: 98%;
            height: 86vh;
            background-color: #fff;
            top: 120%;
            padding: 20px;
        
            .screen__inner {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                .screen__welcome, .screen__user {
                    font-size: 50px;
                    color: #575A63;
                    width: 70%;
                    margin: 0 auto;
                }
            
                .screen__welcome {
                    font-weight: 400;
                    padding-top: 50px;
                }
            
                .screen__user {
                    font-weight: 600;
                    border-bottom: 4px solid #1976D2;
                }
            
                .screen__logo {
                    padding: 50px;
            
                    img {
                        width: 100%;
                    }
                }
            }

            .screen__controls {
                display: flex;
                align-items: center;
                background-color: #EFF4FF;
                padding: 25px;

                .screen__option-box {
                    width: 20%;
                    position: relative;
                    font-weight: 600;
                    font-size: 16px;
                    cursor: pointer;
                    

                    h5 {
                        font-weight: 500;
                        color: #575A63;
                    }

                    .option__select, .option__dropdown {
                        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
                    }

                    .option__select-active {
                        box-shadow: 0px 0px 6px 0px rgba(39, 174, 222, 0.25);

                        h5 {
                            color: #37A0EA;
                        }
                    }

                    .option__dropdown {
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        border-radius: 0 0 15px 15px;
                        opacity: 0;
                        transition: all .3s ease-in-out;

                        ul {
                            list-style: none;
                            background-color: #fff;
                            border-radius: 0 0 15px 15px;
                            
                            li {
                                font-weight: 400;
                                padding: 7px 12px 7px 14px;
                                color: #6D6D6D;
                                
                                
                                &:hover {
                                    background-color: #EFF4FF;
                                }

                                &:last-child {
                                    border-radius: 0 0 15px 15px;
                                }
                            }
                        }
                    }

                    .option__select {
                        background: #fff url('../img/select-arrow.png') 95% center no-repeat;
                        background-size: 12px 9px;
                        border-radius: 15px;
                        padding: 8px 12px 7px 14px;
                        transition: all .3s ease-in-out;
                    }
                }   

                .screen__option-filter {
                    margin-left: 30px;
                }

                .screen_controls-search {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 20%;
                    height: 40px;
                    border-radius: 15px;
                    margin-left: 30px;
                    padding: 10px;
                    background-color: #fff;

                    a {
                        color: #0CA6DB;
                        font-weight: 300;
                    }

                    input {
                        border: none;
                        padding: 7px 0px;
                        outline: none;
                    }

                    
                }

                .search-active {
                    box-shadow: 0px 0px 6px 0px rgba(39, 174, 222, 0.25);
                    background-color: #0CA6DB;
                    color: #fff;
                    padding: 10px 15px;
                    
                    a {
                        color: #fff;
                        font-weight: 300;
                    }

                    input {
                        width: 0;
                    }
                }
            }
        }
    }   
}

.avatar {
    .avatar__box {
        width: 25%;
        padding: 40px 0 40px 75px;
        background: url('../img/avatar.png') left center no-repeat;
        color: #fff;

        .avatar__name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-weight: 600;
            }

            img {
                display: block;
                width: 15px;
                height: 10px;
                cursor: pointer;
            }
        }

        p {
            margin-top: 10px;
            padding: 10px 20px 0 0;
            border-top: 1px solid rgba(55, 160, 234 ,0.4);
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.menu {
    font-size: 16px;
    width: 40%;

    .menu__list {
        list-style: none;
        padding: 10px 0;

        .menu__link {
            color: #878787;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding: 5px 0;    
            cursor: pointer;
            
            h4 {
                font-weight: 500;
                margin-left: 10px;
            }

            .menu__link1 {
                background: url('../img/home.png') center center no-repeat;
            }
            .menu__link2 {
                background: url('../img/documents.png') center center no-repeat;
            }
            .menu__link3 {
                background: url('../img/contacts.png') center center no-repeat;
            }
            .menu__link4 {
                background: url('../img/recordings.png') center center no-repeat;
            }
            .menu__link5 {
                background: url('../img/user.png') center center no-repeat;
            }
            .menu__link6 {
                background: url('../img/management.png') center center no-repeat;
            }
            .menu__link7 {
                background: url('../img/locations.png') center center no-repeat;
            }

            &:hover {
                background: #EFF4FF;
                box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, .35);
                // color: #fff;   
                .menu__elem {
                    border-color: #fff;
                }                     
            }

            .menu__elem {
                width: 50px;
                height: 30px;
                border-left: 3px solid #EFF4FF;
                padding-left: 20px;
                margin-left: 30px;
            }

        }

        .active {
            background: linear-gradient(to right, #436ADC, #0CA6DB);
            box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, .35);
            color: #fff;

            .menu__elem {
                border-left: 3px solid #fff;
                -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
                filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
            }

            &:hover {
                background: linear-gradient(to right, #436ADC, #0CA6DB);
            }
        }
    }

    .menu__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #37A0EA;
        max-width: 60%;
        padding: 10px;
        border-radius: 15px;
        margin: 40px 0 20px 20px;
        cursor: pointer;

        .menu__btn-left {
            display: flex;
            align-items: center;
            
            h4 {
                color: #ffffff;
                border-left: 1px solid #fff;
                padding: 5px 15px;
                margin-left: 10px;
            }
        }

        img {
            display: block;
            max-width: 20px;
            max-height: 20px;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, .35);
        }
    }
}

@media screen and (max-width: 767px) {
    .avatar {
        .avatar__box {
            .avatar__name {
                h4 {
                    display: none;
                }
            }
    
            p {
                display: none;
            }
        }
    }

    .menu {
        .menu__list {
            .menu__link {
                .menu__elem {
                    margin-left: 0;
                }
            }
        }
    }

    .header {
        .header__right {
            .screen {
                .screen__welcome, .screen__user {
                    font-size: 30px;
                }
            }
        }
    }
    
}