* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    outline: none;
}

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: #EFF4FF;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-size: 16px;
}

.main {
    padding: 30px;
    background: linear-gradient(to right, #436ADC, #3A74DC);
}

.header {
    display: flex;
    
    .logo {
        width: 20%;
        
        img {
            width: 60%;
            margin-left: 20px;
        }
    }

    .header__right {
        display: flex;
        justify-content: space-between;
        width: 80%;
        padding: 0 0 0 30px;

        position: relative;

        .header__name {
            display: flex;

            .header__line {
                width: 5px;
                background-color: #56E86D;
                border-radius: 5px;
                height: 43px;
            }

            h4 {
                font-weight: 500;
                color: #fff;
                padding: 10px 0 10px 30px;
            }
        }

        .header__btns {
            display: flex;

            div {
                display: flex;
                align-items: center;
                max-width: 40px;
                max-height: 30px;
                border-right: 1px solid #56E86D;
                margin-right: 20px;
                padding-right: 20px;

                .header__btns-icons {
                    display: block;
                    max-width: 100%;
                }

                &:last-child {
                    border-right: 0;
                    margin-right: 0;
                }
            }  
        }

        .screen {
            position: absolute;
            width: 98%;
            // height: 86vh;
            background-color: #fff;
            top: 120%;
            padding: 20px;
        
            .screen__inner {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                position: relative;
                top: 50%;
                transform: translateY(-50%);

                .screen__welcome, .screen__user {
                    font-size: 50px;
                    color: #575A63;
                    width: 70%;
                    margin: 0 auto;
                }
            
                .screen__welcome {
                    font-weight: 400;
                    padding-top: 50px;
                }
            
                .screen__user {
                    font-weight: 600;
                    border-bottom: 4px solid #1976D2;
                }
            
                .screen__logo {
                    padding: 50px;
            
                    img {
                        width: 100%;
                    }
                }
            }

            .screen__controls {
                display: flex;
                align-items: center;
                background-color: #EFF4FF;
                padding: 25px;

                .screen__option-box {
                    width: 20%;
                    position: relative;
                    font-weight: 600;
                    font-size: 16px;
                    
                    

                    h5 {
                        font-weight: 500;
                        color: #575A63;
                    }

                    .option__select, .option__dropdown {
                        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
                    }

                    .option__dropdown {
                        position: absolute;
                        top: 100%;
                        width: 100%;
                        border-radius: 0 0 15px 15px;
                        opacity: 0;
                        display: none;
                        transition: all .3s ease-in-out;
                        z-index: 2;

                        ul {
                            list-style: none;
                            background-color: #fff;
                            border-radius: 0 0 15px 15px;
                            
                            li {
                                font-weight: 400;
                                padding: 7px 12px 7px 14px;
                                color: #6D6D6D;
                                
                                
                                &:hover {
                                    background-color: #EFF4FF;
                                }

                                &:last-child {
                                    border-radius: 0 0 15px 15px;
                                }
                            }
                        }
                    }

                    .option__select-active {
                        box-shadow: 0px 0px 6px 0px rgba(39, 174, 222, 0.25);
                        display: block;

                        h5 {
                            color: #37A0EA;
                        }
                    }

                    .option__select {
                        background: #fff url('../img/select-arrow.png') 95% center no-repeat;
                        background-size: 12px 9px;
                        border-radius: 15px;
                        padding: 11px 12px 10px 14px;
                        transition: all .3s ease-in-out;
                        cursor: pointer;
                    }
                }   

                .screen__option-filter {
                    margin-left: 30px;
                }

                .screen_controls-search {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    max-width: 5%;
                    height: 40px;
                    border-radius: 15px;
                    margin-left: 30px;
                    padding: 10px 15px;
                    cursor: pointer;
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
                    background-color: #0CA6DB;
                    transition: all 0.4s ease-in-out;

                    a {
                        color: #fff;
                    }

                    input {
                        border: none;
                        padding: 7px 0px;
                        width: 0px;
                        background-color: #0CA6DB;
                        transition: all 0.4s ease-in-out;
                    }


                    
                }

                .search-active {
                    background-color: #fff;
                    box-shadow: 0px 0px 6px 0px rgba(39, 174, 222, 0.25);
                    transition: all 0.4s ease-in-out;
                    max-width: 20%;
                    
                    a {
                        color: #0CA6DB;
                        font-weight: 300;
                    }

                    
                    input {
                        background-color: #fff;
                        width: 80%;
                    }
                }

                .screen__controls-btn {
                    margin-left: auto;
                    background-color: #37A0EA;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    padding: 0 15px;
                    border-radius: 15px;

                    h4 {
                        font-weight: 600;
                        font-size: 15px;
                        color: #fff;
                    }

                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
                    }
                }
            }

            .screen__table {
                padding-top: 20px;
                

                .table__header {
                    border-radius: 5px 5px 0 0;
                    padding: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: linear-gradient(to right, #436ADC, #0CA6DB);
                    color: #ffffff;

                    .list__name {
                        display: flex;
                        align-items: center;

                        .name {
                            padding-left: 30px;
                            background: url('../img/documents.png') left center no-repeat;
                            -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
                            filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);

                            h4 {
                                font-weight: 600;
                                font-size: 16px;
                            }
                        }

                        .list__quant {
                            margin-left: 10px;
                            padding: 7px 0 7px 10px;
                            border-left: 1px solid rgba(255, 255, 255, 0.8);

                            h4 {
                                font-weight: 500;
                                color: rgba(255, 255, 255, 0.8);
                            }
                        }
                    }

                    .list__pages {
                        display: flex;
                        align-items: center;

                        .pages__quant {
                            display: flex;
                            align-items: center;

                            form {
                                margin-left: 5px;

                                select {
                                    height: 30px;
                                    border: 1px solid #C4C4C4;
                                }
                            }
                        }

                        .pages {
                            margin: 0 35px;
                            ul {
                                list-style: none;

                                li {
                                    display: inline-block;
                                    background-color: #D5E6F9;
                                    width: 20px;
                                    height: 20px;
                                    text-align: center;
                                    color: #0CA6DB;
                                    border-radius: 2px;

                                    &:hover {
                                        background-color: #fff;
                                    }

                                }

                                .pages__dots {
                                    background-color: transparent;
                                    color: #fff;
                                    margin: 0;

                                    &:hover {
                                        background-color: transparent;
                                    }
                                }
                            }
                        }

                        .pages_goto {
                            display: flex;
                            align-items: center;

                            h4 {
                                font-weight: 500;
                                margin-right: 5px;
                            }

                            input {
                                width: 40px;
                                height: 30px;
                                text-align: center;
                                border: 1px solid #C4C4C4;
                            }
                        }
                    }
                }

                table {
                    // border: 1px solid #000;
                    width: 100%;
                    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

                    tr {
                        text-align: left;
                        // box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);

                        &:first-child {
                            box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.15);
                        }

                        td, th {
                            width: 25%;
                            text-align: left;
                            color: #575A63;
                            height: 50px;
                            padding-left: 15px;

                            &:nth-child(4) {
                                width: 15%;
                            }

                            &:nth-child(5) {
                                width: 10%;
                            }
                        }

                        th {
                            font-weight: 600;
                            
                            &:last-child {
                                border: none;
                            }
    
                            .th__vline {
                                width: 1px;
                                height: 35px;
                                background-color: #EAEDF6;
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 10px;
                            }
                        }

                        td {
                            border-bottom: 1px solid #EAEDF6;
                            padding-left: 32px;

                            &:first-child {
                                padding-left: 15px;
                            }
                            
                            .table__type {
                                padding-left: 30px;
                            }
                            
                            .type__pdf {
                                background: url('../img/pdf.png') left center no-repeat;
                            }

                            .type__word {
                                background: url('../img/word.png') left center no-repeat;
                            }

                            .type__excel {
                                background: url('../img/excel.png') left center no-repeat;
                            }

                            .table__status {
                                border-radius: 20px;
                                padding: 4px 20px;
                                max-width: 90px;
                                font-size: 12px;
                                color: #fff; 
                                text-align: center;
                            }

                            .status__active {
                                background-color: #27AE60;
                            }

                            .status__deactive {
                                background-color: #BDBDBD;
                            }

                            .table__actions {
                                background: url('../img/actions.png') center center no-repeat;
                                max-width: 6px;
                                height: 25px;
                                margin: 0 auto;
                                cursor: pointer;
                            }

                            &:last-child {
                                padding-left: 10px;
                            }
                        }
                    }
                }
            }
        }
    }   
}

.avatar {
    .avatar__box {
        width: 20%;
        padding: 40px 0 40px 75px;
        background: url('../img/avatar.png') left center no-repeat;
        color: #fff;

        .avatar__name {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
                font-weight: 600;
            }

            img {
                display: block;
                width: 15px;
                height: 10px;
                cursor: pointer;
            }
        }

        p {
            margin-top: 10px;
            padding: 10px 20px 0 0;
            border-top: 1px solid rgba(55, 160, 234 ,0.4);
            font-weight: 300;
            font-size: 16px;
        }
    }
}

.menu {
    font-size: 16px;
    width: 30%;

    .menu__list {
        list-style: none;
        padding: 10px 0;

        .menu__link {
            color: #878787;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            padding: 5px 0;    
            cursor: pointer;
            
            h4 {
                font-weight: 500;
                margin-left: 10px;
            }

            .menu__link1 {
                background: url('../img/home.png') center center no-repeat;
            }
            .menu__link2 {
                background: url('../img/documents.png') center center no-repeat;
            }
            .menu__link3 {
                background: url('../img/contacts.png') center center no-repeat;
            }
            .menu__link4 {
                background: url('../img/recordings.png') center center no-repeat;
            }
            .menu__link5 {
                background: url('../img/user.png') center center no-repeat;
            }
            .menu__link6 {
                background: url('../img/management.png') center center no-repeat;
            }
            .menu__link7 {
                background: url('../img/locations.png') center center no-repeat;
            }

            &:hover {
                background: #EFF4FF;
                box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, .35);
                // color: #fff;   
                .menu__elem {
                    border-color: #fff;
                }                     
            }

            .menu__elem {
                width: 50px;
                height: 30px;
                border-left: 3px solid #EFF4FF;
                padding-left: 20px;
                margin-left: 30px;
            }

        }

        .active {
            background: linear-gradient(to right, #436ADC, #0CA6DB);
            box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, .35);
            color: #fff;

            .menu__elem {
                border-left: 3px solid #fff;
                -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4); 
                filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
            }

            &:hover {
                background: linear-gradient(to right, #436ADC, #0CA6DB);
            }
        }
    }

    .menu__btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #37A0EA;
        max-width: 60%;
        padding: 10px;
        border-radius: 15px;
        margin: 170px 0 20px 20px;
        cursor: pointer;

        .menu__btn-left {
            display: flex;
            align-items: center;
            
            h4 {
                color: #ffffff;
                border-left: 1px solid #fff;
                padding: 5px 15px;
                margin-left: 10px;
            }
        }

        img {
            display: block;
            max-width: 20px;
            max-height: 20px;
        }

        &:hover {
            box-shadow: 0px 0px 10px 0px rgba(67, 107, 220, .35);
        }
    }
}

@media screen and (max-width: 1199px) {
    .menu {
        .menu__list {
            .menu__link {
                .menu__elem {
                    margin-left: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .avatar {
        .avatar__box {
            .avatar__name {
                h4 {
                    display: none;
                }
            }
    
            p {
                display: none;
            }
        }
    }

    .header {
        .header__right {
            .screen {
                .screen__welcome, .screen__user {
                    font-size: 30px;
                }
            }
        }
    }
    
}